.active {
  background-color: #363636;
  color: #f0fff0 !important;
}

.menu {
  height: 100%;

  color: #f0fff0;

  padding: 0 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 75px;

  font-weight: bold;
  font-size : 20px;
}

.menu:hover {
  background-color: #d3d3d3;
  color: #2f4f4f !important;
  cursor: pointer;

  font-size : 22px;
}

.menu .lastmenu {
  margin-bottom : 50px;
}
